[submodule "llm_dart"]
	path = llm_dart
	url = https://github.com/few-sh/llm_dart.git
[submodule "few-zola/themes/terminus"]
	path = few-zola/themes/terminus
	url = https://github.com/ebkalderon/terminus.git
